@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Outfit', sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
  input:not([type='checkbox']) {
    @apply outline-none border border-gray-300 rounded-lg;
    @apply focus:ring-2 focus:ring-green-300 focus:border-green-600;
  }

  textarea {
    @apply outline-none focus:ring-2 focus:ring-green-300 border border-gray-300 focus:border-green-600 rounded-lg resize-none;
  }
}
